.header-buttons {
	position: absolute;
	display: inline-block;
	top: 3px;
	right: 5%;

	li {
		display: inline-block;
	}
}

.search-trigger, .nav-trigger {
	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	color: transparent;
	z-index: 20;

	&:hover, &:active {
		color: transparent;
	}

	@media #{$medium-up} {
		display: none;
	}
}



.search-trigger {

	&::before, &::after {
		// search icon
		content: '';
		position: absolute;
		@include transition(opacity .3s ease);
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&::before {
		// lens 
		top: 11px;
		left: 11px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 3px solid #000;
	}

	&::after {
		// handle
		height: 3px;
		width: 8px;
		background: #000;
		bottom: 14px;
		right: 11px;
		@include transform(rotate(45deg));
	}

	span {
		// container for the X icon
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	span::before, span::after {
		// close icon
		content: '';
		position: absolute;
		display: inline-block;
		height: 3px;
		width: 22px;
		top: 50%;
		margin-top: -2px;
		left: 50%;
		margin-left: -11px;
		background: #000;
		opacity: 0;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transition(opacity .3s ease, transform .3s ease);

	}

	span::before {
		@include transform(rotate(45deg));
	}

	span::after {
		@include transform(rotate(-45deg));
	}

	&.search-is-visible {
		&::before, &::after {
			// hide search icon
			opacity: 0;
		}

		span::before, span::after {
			// show close icon
			opacity: 1;
		}

		span::before {
			@include transform(rotate(135deg));
		}

		span::after {
			@include transform(rotate(45deg));
		}
	}
}

.nav-trigger {

	span, span::before, span::after {
		// hamburger icon in CSS
		position: absolute;
		display: inline-block;
		height: 3px;
		width: 24px;
		background: #000;
	}

	span {
		// line in the center
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -2px;
		@include transition(background .3s ease);
	}

	span::before, span::after {
		// other 2 lines
		content: '';
		right: 0;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform-origin(0% 50%);
		@include transition(transform .3s ease);
	}

	span::before {
		// menu icon top line
		top: -6px;
	}

	span::after {
		// menu icon bottom line
		top: 6px;
	}

	&.nav-is-visible {
		span {
			// hide line in the center
			background: rgba(#000, 0);
		}

		span::before, span::after {
			/* keep visible other 2 lines */
			background: rgba(#000, 1);
		}

		span::before {
			@include transform(translateX(4px) translateY(-3px) rotate(45deg));
		}

		span::after {
			@include transform(translateX(4px) translateY(2px) rotate(-45deg));
		}
	}
}