ul.default {
  list-style: disc outside none; 
  margin-left: 0; 
  padding-left: rem-calc(20); 

  li {
    padding-left: 0;
  }
}



ul.list-items {
  list-style: none;
  margin-left: 0;
  li {
    position: relative;
    padding-left: rem-calc(20);

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      display: inline-block;
      height: 2px;
      width: 8px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; 
      left: 0;

      // Arrow color
      background: #000;

      // Arrow to the left
      //@include transform-origin(1px 50%);

      // Arrow to the right
      @include transform-origin(7px 50%);
    }

    &::before {
      @include transform(rotate(45deg));
    }
    &::after {
      @include transform(rotate(-45deg));
    }
  }
}